<div class="row">
  <div class="col-md-12">
    <h4>More</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.saseconnect.org">About SASE</a></li>
      <li><a href="#">Meet the Team</a></li>
      <li><a href="#">New Chapter Forms</a></li>
      <li><a href="#">Find SASE Chapters</a></li>
      <li><a href="#">Contact Us</a></li>
    </ol>
  </div>
</div>

<div class="row mb-20">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-xs-1 mt-10">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/20x20"></a>
      </div>
      <div class="col-xs-1 mt-10">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/20x20"></a>
      </div>
      <div class="col-xs-1 mt-10">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/20x20"></a>
      </div>
    </div>
  </div>
</div>

