<div class="row">
  <div class="col-md-12">
    <h4>More</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.saseconnect.org">About SASE</a></li>
      <li><a href="#">Meet the Team</a></li>
      <li><a href="#">New Chapter Forms</a></li>
      <li><a href="#">Find SASE Chapters</a></li>
      <li><a href="#">Contact Us</a></li>
    </ol>
  </div>
</div>

<div class="row mb-20">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-xs-1 mt-10">
        <i class="fab fa-fb"></i>
        <i class="fa fa-accessible-icon"></i>
        <i class="fab fa-apple-pay"></i>
        <i class="fa fa-arrow-circle-up"></i>
        <i class="fa fa-behance"></i>
      </div>
      <div class="col-xs-1 mt-10">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="col-xs-1 mt-10">
        <i class="fa fa-envelope"></i>
        <i class="fa fa-barcode"></i>
        <i class="fa fa-bandcamp"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-twitch"></i>
      </div>
    </div>
  </div>
</div>

<span class="fa-stack fa-2x">
  <i class="fas fa-square fa-stack-2x"></i>
  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-2x">
  <i class="fas fa-circle fa-stack-2x"></i>
  <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-2x">
  <i class="fas fa-square fa-stack-2x"></i>
  <i class="fas fa-terminal fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-2x">
  <i class="fas fa-camera fa-stack-1x"></i>
  <i class="fas fa-ban fa-stack-2x" style="color:Tomato"></i>
</span>
